
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMantenedor.cshtml";
}

@section cardTitulo {
    Productos Registrados
}

@section formFiltrar {
    <input type="hidden" name="tipo" value="filtrar">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" name="Descripcion" id="Descripcion" class="form-control" placeholder="Ingrese la descripcion del producto">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary form-control" style="min-width: 100px"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
}

@section tblCabecera {
    <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Stock Actual</th>
        <th>Stock Mínimo</th>
        <th>Categoría</th>
        <th>Opciones</th>
    </tr>
}

@section mantenedorTitulo {
    Datos del producto
}

@section modalMantenedorCuerpo {
    <div class="row">
        <input type="hidden" name="Id" id="Id" value="0" />
        <input type="hidden" name="accion" id="accion" value="registrar" />
        <div class="col-lg-6">
            <input type="hidden" name="id" >
            <input type="hidden" name="tipo" value="agregar">

            <div class="form-group">
                <label for="Descripcion">Descripción</label>
                <input type="text" class="form-control" name="Descripcion" id="Descripcion" required>
                <div class="invalid-feedback">Por favor ingrese una descripción</div>
            </div>
            <div class="form-group">
                <label for="PrecioCompra">Precio de compra</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">S/.</span>
                    </div>
                    <input type="number" class="form-control" name="PrecioCompra" min="0.1" step="0.01" required id="PrecioCompra">
                    <div class="invalid-feedback">Por favor ingrese una cantidad mayor a 0</div>
                </div>
            </div>
            <div class="form-group">
                <label for="PrecioVenta">Precio de venta</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">S/. </span>
                    </div>
                    <input type="number" class="form-control" name="PrecioVenta" step="0.01" required id="PrecioVenta">
                    <div class="invalid-feedback">Por favor ingrese una cantidad mayor a 0</div>
                </div>

            </div>
            <div class="form-group">
                <label for="StockActual">Stock actual</label>
                <input type="number" class="form-control" name="StockActual" id="StockActual" min="1" required>
                <div class="invalid-feedback">Por favor ingrese una cantidad mayor a 0</div>
            </div>
            <div class="form-group">
                <label for="StockMin">Stock mínimo</label>
                <input type="number" class="form-control" name="StockMin" id="StockMin" required min="1">
                <div class="invalid-feedback">Por favor ingrese una cantidad mayor a 0</div>
            </div>

            <div class="form-group">
                <label for="Categoria">Categoría</label>
                <input type="text" id="CategoriaText" class="form-control d-none" readonly />
                <select name="Categoria" id="Categoria" class="form-control" required>
                    <option value="">Seleccione</option>
                </select>
                <div class="invalid-feedback">Por favor seleccione una categoría</div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="form-group">
                <label class="d-block">Imagen</label>
                <input type="file" class="form-control-file mb-4" name="Imagen" id="Imagen" accept="image/*">
                <img src="" id="imgDisplay" class="img-fluid" style="max-height: 500px">
            </div>
        </div>
    </div>

}


@section scripts {
    @Scripts.Render("~/Scripts/es5/usuarioService.js")
    @Scripts.Render("~/Scripts/es5/validacionRoles.js")
    @Scripts.Render("~/Scripts/es5/categoriaService.js")
    @Scripts.Render("~/Scripts/es5/productoService.js")
    @Scripts.Render("~/Scripts/es5/productoUI.js")
    @Scripts.Render("~/Scripts/es5/productoController.js")
    @Scripts.Render("~/Scripts/es5/producto.js")
}

    <script id="temp-lst-categoria" type="text/template">
        <option value="">Seleccione</option>
        {{#each filas}}
        {{#if selected}}
        <option value="{{Id}}" selected>{{Descripcion}}</option>
        {{else}}
        <option value="{{Id}}">{{Descripcion}}</option>
        {{/if}}
        {{/each}}
    </script>
