<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome/css/all.min.css")
    @Styles.Render("~/Content/adminlte/adminlte.min.css")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed text-sm layout-footer-fixed">

    <div class="spinner-container">
        <div class="loader">Loading...</div>
    </div>

    <div class="wrapper">
        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid" style="position: relative;">
                    @Html.Partial("_Toast")

                    @RenderBody()
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_Footer")

    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/adminlte/adminlte.min.js")
    @Scripts.Render("~/Scripts/datatable/datatables.min.js")
    @Scripts.Render("~/Scripts/handlebars/handlebars.min.js")
    @Scripts.Render("~/Scripts/polyfill.min.js")
    @Scripts.Render("~/Scripts/es5/athenasNet.js")
    @RenderSection("scripts", required: false)


    @Html.Partial("_ModalConfirmacion")

    <script type="text/template" id="temp-tbl-body">
        {{#each filas}}
        <tr>
            <td>
                {{Id}}
            </td>
            <td>
                {{Descripcion}}
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm btn-sin-click" data-id="{{Id}}" data-accion="editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm btn-sin-click" data-id="{{Id}}" data-accion="eliminar">
                    <i class="fas fa-trash-alt" data-del-action="true"></i>
                </button>
            </td>
        </tr>
        {{/each}}
    </script>
</body>
</html>
