<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AthenasNety</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome/css/all.min.css")
    @Styles.Render("~/Content/select2/select2.min.css")
    @Styles.Render("~/Content/select2/select2-bootstrap4.min.css")
    @Styles.Render("~/Content/adminlte/adminlte.min.css")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed text-sm layout-footer-fixed">

    <div class="spinner-container">
        <div class="loader">Loading...</div>
    </div>

    <div class="wrapper">
        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid" style="position: relative;">
                    @Html.Partial("_Toast")

                    <!--Card de mantenedor-->
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="card card-outline card-primary mt-4">
                                <div class="card-header no-after  d-flex justify-content-between align-items-center">
                                    <h5>@RenderSection("cardTitulo", false)</h5>
                                    <button type="button" class="btn btn-success btn-sm btn-sin-click" id="btn-nuevo" data-toggle="modal" data-target="#modal-mantenedor">
                                        <i class="fas fa-plus mr-1"></i> Nuevo
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="col-12 mt-2">
                                        <form class="form frm-loader" id="form-filtrar">
                                            @RenderSection("formFiltrar", false)
                                        </form>
                                    </div>
                                    <div class="col-12 table-responsive">
                                        <table class="table" id="tb-mantenedor">
                                            <thead>
                                                @RenderSection("tblCabecera", false)
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin de Card de mantenedor-->

                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_Footer")

    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/adminlte/adminlte.min.js")
    @Scripts.Render("~/Scripts/datatable/datatables.min.js")
    @Scripts.Render("~/Scripts/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/handlebars/handlebars.min.js")
    @Scripts.Render("~/Scripts/polyfill.min.js")
    @Scripts.Render("~/Scripts/es5/athenasNet.js")
    @Scripts.Render("~/Scripts/es5/athenasMantenedores.js")
    @RenderSection("scripts", required: false)


    @Html.Partial("_ModalConfirmacion")


    <!-- Modal de Mantenedor -->
    <div class="modal fade" id="modal-mantenedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@RenderSection("mantenedorTitulo", false)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form novalidate id="form-mantenedor">
                    <div class="modal-body">
                        @RenderSection("modalMantenedorCuerpo", false)
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-success"><i class="far fa-save mr-1"></i> Guardar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-arrow-left mr-1"></i>Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin de Modal de Mantenedor -->

    <script type="text/template" id="temp-tbl-body">
        {{#each filas}}
        <tr>
            
            {{#each this}}
               {{#if (isId @@key)}}
                    <td>{{formatoCodigo this ../../iniCodigo 4}}</td>
                {{else}}
                    <td>{{this}}</td>
                {{/if}}
            {{/each}}
            <td>
                {{#if ../edita}}
                    <button type="button" class="btn btn-success btn-sm btn-sin-click" data-id="{{Id}}" data-accion="editar">
                        <i class="fas fa-edit"></i>
                    </button>
                {{/if}}
                {{#if ../elimina}}
                    <button type="button" class="btn btn-success btn-sm btn-sin-click" data-id="{{Id}}" data-accion="eliminar">
                        <i class="fas fa-trash-alt" data-del-action="true"></i>
                    </button>
                {{/if}}

            </td>
        </tr>
        {{/each}}
    </script>
    @RenderBody()
</body>
</html>
